<h1>Favorite Characters</h1>
@if (isLoading$ | async) {
  <p>Загрузка...</p>
} @else {
  @if (error$ | async) {
    <p class="error">{{ error$ | async }}</p>
  }
  <cdk-virtual-scroll-viewport itemSize="300" orientation="horizontal" class="viewport">
    <div class="container">
      <div *cdkVirtualFor="let character of favorites$ | async" class="character-info">
        <h2>{{ character.name }}</h2>
        <img [src]="character.image" alt="character" />
        <button (click)="toggleFavorite(character.id)">Toggle favorite</button>
        <p>Status: {{ character.status }}</p>
        <p>Species: {{ character.species }}</p>
        <p>{{ character.type }}</p>
        <p>Gender: {{ character.gender }}</p>
        <p>Origin: {{ character.origin.name }}</p>
        <p>Location: {{ character.location.name }}</p>
        <p>Created: {{ character.created | date: 'short' }}</p>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
}
