<h1>Favorite Characters</h1>
@if (isLoadingSig()) {
  <p>Загрузка...</p>
} @else {
  @if (errorSig()) {
    <p class="error">{{ errorSig() }}</p>
  }
  @if (!favoritesSig()) {
    <p class="error">You didn't like anything.</p>
  } @else {
    <cdk-virtual-scroll-viewport itemSize="300" orientation="horizontal" class="viewport">
      <div class="container">
        <div
          *cdkVirtualFor="let character of favoritesSig()"
          class="character-info"
          [routerLink]="'/characters/' + character.id"
        >
          <div class="card-header">
            <h2 [title]="character.name">{{ character.name | truncate }}</h2>
            <button mat-icon-button (click)="toggleFavorite(character.id, $event)">
              <mat-icon (click)="toggleFavorite(character.id, $event)" class="favorite">
                star
              </mat-icon>
            </button>
          </div>
          <img [src]="character.image" alt="character" />
          <p appToggleStatus="{{ character.status }}"></p>
          <p>Species: {{ character.species }}</p>
          <p>Type: {{ character.type || 'Not specified' }}</p>
          <p>Gender: {{ character.gender }}</p>
          <p>Origin: {{ character.origin.name }}</p>
          <p>Location: {{ character.location.name }}</p>
          <p>Created: {{ character.created | date: 'short' }}</p>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  }
}
