<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Sign In</h2>
  <label for="login">Login</label>
  <input id="login" name="login" formControlName="login" />
  <label for="password">Password</label>
  <input id="password" name="password" formControlName="password" type="password" />
  @if (login.invalid && (login.dirty || login.touched)) {
    <p class="error">
      Email is
      @if (login.value === '') {
        required!
      } @else {
        too short!
      }
    </p>
  }
  @if (password.invalid && (password.dirty || password.touched)) {
    <p class="error">
      Password is
      @if (password.value === '') {
        required!
      } @else {
        too short!
      }
    </p>
  }
  @if (responseError()) {
    <p class="error">{{ responseError() }}</p>
  }
  <div class="navigation">
    <button type="reset">Reset</button>
    <button type="submit" [disabled]="!form.valid">Submit</button>
  </div>
</form>
