@use '../../shared/styles/text';
@use '../../shared/styles/viewport';
@use '../../shared/styles/error';
@use '../../shared/styles/mixins' as m;

.character-info {
  @include m.card;

  button {
    @include m.button;
    width: 100%;
  }

  .favorite {
    color: #10b981;
    font-weight: 500;
    margin: 8px 0;
  }

  &:hover {
    scale: 0.99;
    cursor: pointer;
  }
}

form {
  margin: 20px;
  label {
    @include m.label;
    margin-bottom: 8px;
  }

  input {
    @include m.input;
    width: 300px;
  }
}

.filter {
  margin: 20px;
  display: flex;
  gap: 8px;

  button {
    @include m.button;
  }
}
