@if (isLoading$ | async) {
    загрузка...
}
@else {
    <div class="container">
        @for (character of characters$ | async; track character.id) {
            <div class="character-info">
                <h2>{{character.name}}</h2>
                <p>{{character.status}}</p>
                <p>{{character.species}}</p>
                <p>{{character.type}}</p>
                <p>{{character.gender}}</p>
                <p>{{character.origin.name}}</p>
                <p>{{character.location.name}}</p>
                <img [src]="character.image">
                <p>{{character.created}}</p>
            </div>
        }
    </div>
    <div class="pagination">
        <button (click)="loadPage(1)" [disabled]="!(prev$ | async)">first</button>
        <button (click)="loadPageUrl(prev$)" [disabled]="!(prev$ | async)">prev</button>
        <button (click)="loadPageUrl(next$)" [disabled]="!(next$ | async)">next</button>
        <button (click)="loadLastPage()" [disabled]="!(next$ | async)">last</button>
    </div>
}