.viewport {
    margin-block: 24px;
    height: 750px;
    width: 100%;
    .container {
        display: flex;
        flex-direction: row;
        gap: 24px;
        .character-info {
            border: 1px solid black;
            padding: 24px;
            height: 680px;
            width: 300px;
        }
    }
    
}