@if (isLoading$ | async) {
    загрузка...
}
@else {
    <form (submit)="loadPage()">
        <label for="search">Find character:</label>
        <input id="search" name="search" [(ngModel)]="searchSignal">
    </form>
    <div class="filter">
        <button (click)="filterStatus('')">All</button>
        <button (click)="filterStatus('Alive')">Alive</button>
        <button (click)="filterStatus('Dead')">Dead</button>
        <button (click)="filterStatus('unknown')">unknown</button>
    </div>
    @if (error$ | async) {
        <p style="color: red">{{ error$ | async }}</p>
    }
    
    <div class="container">
        @for (character of characters$ | async; track character.id) {
            <div class="character-info">
                <h2>{{character.name}}</h2>
                <p>{{character.status}}</p>
                <p>{{character.species}}</p>
                <p>{{character.type}}</p>
                <p>{{character.gender}}</p>
                <p>{{character.origin.name}}</p>
                <p>{{character.location.name}}</p>
                <img [src]="character.image">
                <p>{{character.created}}</p>
            </div>
        }
    </div>
    <div class="pagination">
        <button (click)="loadPage()" [disabled]="!(prev$ | async)">first</button>
        <button (click)="loadPageUrl(prev$)" [disabled]="!(prev$ | async)">prev</button>
        <button (click)="loadPageUrl(next$)" [disabled]="!(next$ | async)">next</button>
        <button (click)="loadLastPage()" [disabled]="!(next$ | async)">last</button>
    </div>
}