<p>episodes-list works!</p>
@if (isLoading$ | async) {
    загрузка...
}
@else {
    <div class="container">
        @for (episode of episodes$ | async; track episode.id) {
            <div class="episode-info">
                <h2>{{episode.name}}</h2>
                <p>{{episode.air_date}}</p>
                <p>{{episode.episode}}</p>
                <p>{{episode.created}}</p>
            </div>
        }
    </div>
    <div class="pagination">
        <button (click)="loadPage(1)" [disabled]="!(prev$ | async)">first</button>
        <button (click)="loadPageUrl(prev$)" [disabled]="!(prev$ | async)">prev</button>
        <button (click)="loadPageUrl(next$)" [disabled]="!(next$ | async)">next</button>
        <button (click)="loadLastPage()" [disabled]="!(next$ | async)">last</button>
    </div>
}