@use './shared/styles/variables' as v;

header {
  margin-bottom: 24px;
  
  ul {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-direction: row;
    list-style: none;
    font-size: 18px;
    
    li {
      cursor: pointer;
      padding: 8px 16px;
      border-radius: 6px;
      color: v.$secondary_font_color;
      font-weight: v.$secondary_font_weight;
      transition: all 0.2s ease;
      
      &:hover, &.active {
        color: v.$main_font_color;
        background: v.$card_border;
      }
    }
  }
  
  hr {
    border: none;
    height: 1px;
    background: v.$card_border;
    margin: 0;
  }
}