<div class="character-details-container">
  <button class="back-button" [routerLink]="charactersLink">← Go back</button>
  @if (error) {
    <p class="error">{{ error }}</p>
  }
  @if (character$ | async; as character) {
    <div class="character-card">
      <div class="character-header">
        <h1 class="character-name">{{ character.name }}</h1>
        <span class="character-id">#{{ character.id }}</span>
      </div>

      <div class="character-content">
        <div class="character-image">
          <img [src]="character.image" [alt]="character.name" />
          <p appToggleStatus="{{ character.status }}"></p>
        </div>

        <div class="character-info">
          <div class="info-section">
            <h3>Main info</h3>
            <div class="info-grid">
              <div class="info-item">
                <span class="label">Species:</span>
                <span class="value">{{ character.species }}</span>
              </div>
              <div class="info-item">
                <span class="label">Type:</span>
                <span class="value">{{ character.type || 'Not specified' }}</span>
              </div>
              <div class="info-item">
                <span class="label">Gender:</span>
                <span class="value">{{ character.gender }}</span>
              </div>
            </div>
          </div>

          <div class="info-section">
            <h3>Locations</h3>
            <div class="info-grid">
              <div class="info-item">
                <span class="label">Origin:</span>
                <span class="value">{{ character.origin.name }}</span>
              </div>
              <div class="info-item">
                <span class="label">Location:</span>
                <span class="value">{{ character.location.name }}</span>
              </div>
            </div>
          </div>

          <div class="info-section">
            <h3>Additional</h3>
            <div class="info-grid">
              <div class="info-item">
                <span class="label">Number of episodes:</span>
                <span class="value">{{ character.episode.length }}</span>
              </div>
              <div class="info-item">
                <span class="label">Created:</span>
                <span class="value">{{ character.created | date: 'short' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
