@use './variables' as v;

.error {
  color: v.$error_color;
  background: v.$error_background_color;
  padding: 12px 16px;
  border-radius: 6px;
  border-left: 4px solid v.$error_color;
  margin: 16px 20px;
}
