@use './variables' as v;

h1 {
  margin: 20px;
  font-size: 1.75rem;
  line-height: 1.4;
  font-weight: v.$main_font_weight;
  color: v.$main_font_color;
}

h2 {
  margin: 0 0 16px 0;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: v.$secondary_font_weight;
  color: v.$main_font_color;
}

p {
  margin: 20px;
}

.container p {
  margin: 6px 0;
  font-size: 0.875rem;
  line-height: 1.4;
  color: v.$secondary_font_color;
}
