$main_font_color: #333;
$secondary_font_color: #666;
$error_color: #ef4444;
$error_background_color: #ffe4e47e;
$favorite_color: #10b981;
$button_color: white;

$main_font_weight: 600;
$secondary_font_weight: 300;

$card_shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

$card_border: #e0e0e0;
$button_border: 1px solid #ddd;

$button-hover-color: #f5f5f5;
$button-hover-border: 1px solid #ccc;