.viewport {
  margin: 24px;
  height: 550px;
  width: calc(100% - 48px);

  .container {
    display: flex;
    flex-direction: row;
    gap: 24px;

    .img-container {
      height: 200px;
      overflow: hidden;
      border-radius: 8px;
      margin-bottom: 16px;
      position: relative;
      img {
        position: absolute;
        top: -50px;
        object-fit: contain;
      }
    }
  }
}
