<h1>Locations</h1>

@if (isLoadingSig()) {
  <p>Загрузка...</p>
} @else {
  <div class="container">
    @for (location of locationsSig(); track $index) {
      <div class="location-info">
        <h2>{{ location.name }}</h2>
        <p>Type: {{ location.type }}</p>
        <p>Dimension: {{ location.dimension }}</p>
        <p>Created: {{ location.created | date: 'short' }}</p>
      </div>
    }
  </div>
  <div class="pagination">
    <button mat-icon-button (click)="loadPage(1)" [disabled]="prevSig() === null">1</button>
    <button mat-icon-button (click)="loadPageUrl(prevSig())" [disabled]="prevSig() === null">
      <
    </button>
    <button mat-icon-button disabled="true">{{ currentPage() }}</button>
    <button mat-icon-button (click)="loadPageUrl(nextSig())" [disabled]="nextSig() === null">
      >
    </button>
    <button mat-icon-button (click)="loadLastPage()" [disabled]="nextSig() === null">
      {{ pagesSig() }}
    </button>
  </div>
}
