<p>locations-list works!</p>
@if (isLoading$ | async) {
    загрузка...
}
@else {
    <div class="container">
        @for (location of locations$ | async; track $index) {
            <div class="location-info">
                <h2>{{location.name}}</h2>
                <p>{{location.type}}</p>
                <p>{{location.dimension}}</p>
                <p>{{location.created}}</p>
            </div>
        }
    </div>
    <div class="pagination">
        <button (click)="loadPage(1)" [disabled]="!(prev$ | async)">first</button>
        <button (click)="loadPageUrl(prev$)" [disabled]="!(prev$ | async)">prev</button>
        <button (click)="loadPageUrl(next$)" [disabled]="!(next$ | async)">next</button>
        <button (click)="loadLastPage()" [disabled]="!(next$ | async)">last</button>
    </div>
}